.background {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.7em;

  margin-top: 2.25em;
  padding: 1.5em 1em;
}
.SelectTable > span {
  font-size: 1.5em;
  display: block;
  margin-bottom: 1em;
  font-weight: 700;
}
.SelectTable > table {
  width: 100%;
  border-collapse: collapse;
}
.SelectTable > table > tbody > tr,
.SelectTable > table > thead {
  border-bottom: 0.5px solid hsl(0, 0%, 71%);
}

.SelectTable > table > tbody > tr > td {
  padding: 1em 0.5em;
  width: 33.33%;
}
.plans {
  border-radius: 3px;
  border: 0.3px solid #959595;
  font-weight: 600;
  padding: 0.43em;
  display: flex;
  width: 100%;
}
.plans > span {
  color: rgba(255, 255, 255, 0.4);
  font: 0.5em;
}
.optionWrapper {
  position: relative;
  top: 1em;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.add {
  font-size: 1em;
  margin: 0.68em 0 0 0.68em;
  cursor: pointer;
  transition: color 500ms;
  color: rgba(226, 226, 226, 0.915);
  width: fit-content;
}
.add:hover {
  color: rgb(255, 255, 255);
}
.text {
  display: flex;
  justify-content: center;
}
.text > input {
  width: 4em;
  color: white;
  padding: 0.63em 0.3em 0.63em 0.63em;
  border: none;
  outline: 0.3px solid #959595;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
}
.delete {
  text-align: end;
  width: 4em;
}
.row {
  position: relative;
}
.overlay {
  position: absolute;
  z-index: 2;
  background-color: rgba(255, 0, 0, 0.24);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.singleSelect {
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
  user-select: none;
}

.invoiceSummary-linebreak {
  border-bottom: 0.5px solid hsl(0, 0%, 71%);
  width: 100%;
  margin-block: 1em;
}

.invoiceSummary {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: end;
}

.container {
  font-size: 1em;
  display: grid;
  grid-template-columns: 45% 40%;
  gap: 1.2em 0.5em;
  width: 40%;
}

.container > div {
  text-align: left;
  border-radius: 5px;
}
.title {
  font-weight: 700;
}
