.cardRow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.tables {
  height: 20em;
  margin-top: 1.56em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tables > div {
  width: 49%;
}

@media only screen and (max-width: 1200px) {
  .tables {
    flex-direction: column;
    height: 50em;
    gap: 2em;
  }
  .tables > div {
    width: 100%;
  }
}
