.multiSelect {
  display: flex;
  flex-direction: column;
  position: relative;
}
.multiSelectObjectContainer {
  padding: 10px 0em 10px 0em;
  outline: 1px solid white;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-inline: 0.625em;
  min-height: 3.2em;
}
.multiSelectObjectContainer > div:first-child {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625em;
}
.multiSelectObjectContainer > div:last-child {
  /* width: 5em; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* outline: solid red; */
}
.arrow,
.cross {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* outline: solid; */
  padding: 0 0.5em;
  height: 100%;
}

.caret {
  border: 1px solid rgba(200, 200, 200, 0.624);
  border-radius: 10px;
  height: 100%;
  max-height: 3em;
}

.objectTag {
  background-color: rgba(82, 92, 149, 1);
  border-radius: 1.25em;
  padding: 4.5px 1em 4.5px 0.8em;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  user-select: none;
}
.ObjectTagContainer {
  position: relative;
  width: 100%;
}
.tick {
  margin: 0 0 0 -0.4em;
  display: flex;
  align-items: center;
}
.dots {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dots:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  z-index: -1;
  transition: background-color 200ms;
}
.dots:hover::before {
  background-color: rgba(0, 0, 0, 0.324);
}
.options {
  position: absolute;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  /* overflow-x: scroll; */
  background-color: rgba(29, 29, 29, 0.738);
  scrollbar-color: rgb(53, 68, 71) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  user-select: none;
  /* top: calc(100% + 1em); */
  /* bottom: 1em; */
  z-index: 5;
}
.options > div {
  overflow-x: scroll;
  max-height: 8em;
  scrollbar-width: thin;
}

.optionWrapper {
  cursor: pointer;
}
.active {
  background-color: rgba(149, 217, 150, 0.351);
}

.highlight:hover {
  background-color: rgba(128, 128, 128, 0.145);
}
.menu {
  position: absolute;
  font-size: 0.9em;
  background-color: rgb(29, 29, 29);
  border-radius: 5px;
  z-index: 5;
}
.searchBox {
  border: solid red;
  padding: 1em;
  background-color: inherit;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid rgba(125, 125, 125, 0.688);
}
.searchBox::placeholder {
  color: rgba(255, 255, 255, 0.691);
}
