.textField {
  display: flex;
  flex-direction: column;
}
.label {
  color: white;
  margin-bottom: 0.5em;
}
.inputField {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  outline: 1px solid white;
  padding-inline-end: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputField::placeholder {
  color: white;
  font-size: 0.8em;
}
.inputField > input {
  border: none;
  outline: none;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0);
  padding: auto;
  color: white;
  font-size: 1em;
  width: 100%;
}
.inputField span {
  display: flex;
  cursor: pointer;
  padding: 0.7em;
  border-radius: 50%;
  transition: 300ms;
}
.inputField span:hover {
  background-color: rgba(0, 0, 0, 0.36);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.textBoxContainer {
  display: flex;
  flex-direction: column;
}
.textBox {
  margin-bottom: 2em;
  padding: 1em;
  resize: vertical;
  outline: 1px solid white;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 1em;
}
