.dateContainer {
  display: flex;
  flex-direction: column;
}
.label {
  font-size: 0.9em;
  display: inline;
}
.date {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: stretch;
  /* width: 100%; */
  border-radius: 10px;
  user-select: none;
  gap: 0.5em;
  height: 3.2em;
  overflow: hidden;
}
.cycleContainer {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  /* width: 30%; */
  justify-content: center;
  padding-inline: 0.5em 0.25em;
  border-inline: 1px solid #d0d0d0;
}
.cycleContainer > span {
  font-size: 0.8em;
  text-wrap: nowrap;
}
.cycle {
  background: rgba(0, 0, 0, 0);
  background-color: none;
  padding: 0.5em 0.25em;
  border: none;
  color: white;
  flex-grow: 1;
  /* width: 100%; */
}

.cycle::placeholder {
  color: white;
}
