.tableContainer {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  background-color: rgba(22, 115, 161, 0.4);
  padding: 1em 1em 0 1.2em;
  border-radius: 1.25em;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}
.progressContainer {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.tableContainer > div:last-child {
  flex-grow: 1;
  height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 1em 2em 0;
  scrollbar-color: rgb(20, 85, 101) rgba(0, 0, 0, 0);
}

.tableContainer > div:last-child::-webkit-scrollbar {
  width: 4px;
}

.tableContainer > div::-webkit-scrollbar-thumb {
  background: rgb(41, 174, 209);
  background: linear-gradient(
    18deg,
    rgba(41, 174, 209, 1) 13%,
    rgba(237, 16, 237, 1) 100%
  );
  border-radius: 100%;
}

.tableContainer > div::-webkit-scrollbar-track {
  background-color: #d0d0d0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  background-clip: padding-box;
}

/* .tableContainer > div::-webkit-scrollbar {
  width: 2px;
}

.tableContainer > div::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  position: relative;
  left: 20px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.tableContainer > div::-webkit-scrollbar-thumb {
  background: red;
  border: 3px solid rgb(0, 217, 255);
} */

.title {
  font-size: 1.25em;
  font-weight: 800;
}
.table {
  font-size: 0.875em;
  width: 100%;
  overflow: scroll;
  margin-top: 2.5em;
  border-collapse: collapse;
}
.table > div {
  position: relative;
}
.table > thead {
  position: sticky;
  top: 0px;
}

.table > thead > tr > th {
  text-align: start;
  color: rgb(205, 237, 255);
  font-weight: 800;
  font-size: 1.1em;
  padding-left: 0.1em;
}

.table > tbody > tr {
  border-bottom: 0.5px solid hsl(0, 0%, 71%);
}
.table > tbody td {
  font-weight: 400;
  padding-block: 1.4em 1em;
  padding-right: 10%;
  /* border: solid red; */
}
.action {
  background: rgb(216, 158, 219);
  background: linear-gradient(
    76deg,
    rgba(216, 158, 219, 1) 0%,
    rgba(223, 223, 223, 1) 100%
  );
  color: transparent;
  background-clip: text;
  font-size: 1em;
  letter-spacing: 1.5px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
}

.action::before {
  content: "";
  position: absolute;
  width: 40%;
  bottom: 25%;
  transition: 600ms;
  height: 2%;
}
.action:hover:before {
  background-color: rgba(216, 158, 219, 1);
}
