.home {
  color: white;

  display: flex;
  height: 100vh;
  overflow: hidden;
}
.content {
  overflow-y: scroll;
  width: 100%;
  
}
.content:last-child::-webkit-scrollbar {
  width: 4px;
}

.content::-webkit-scrollbar-thumb {
  /* background: rgb(41, 174, 209); */
}
