.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  min-width: 20%;
  max-width: 30%;
  min-height: 30%;
  border-radius: 1em;
  background-color: rgb(49 36 79);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em;
}
.btn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
  margin-top: 1em;
}
.btn-wrapper > button {
  cursor: pointer;
  width: 50%;
  padding-block: 0.7em;
  border-radius: 0.625em;
  color: white;
  border: none;
}

.btn-wrapper > button:first-child {
  background-color: rgb(0 0 0 / 53%);
  border: 0.08em solid rgba(0, 0, 0, 0);
  font-weight: 500;
}
.btn-wrapper > button:last-child {
  border: 0.08em solid rgb(161 161 161);
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
  transition: background-color 0.5s;
}

.btn-wrapper > button:last-child:hover {
  background-color: rgba(65, 65, 65, 0.252);
}
