.staffFromContainer {
  /* height: fit-content; */
  height: 100%;
  background-color: rgba(31, 37, 71, 1);

  border-radius: 1.25em;
  position: relative;
}
.loading {
  position: absolute;
  background-color: rgba(4, 4, 4, 0.299);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.form {
  position: relative;
  padding: 1.4em 1.875em;
}
.form > span {
  display: block;
  font-size: 1.25em;
  font-weight: 800;
  margin-bottom: 2em;
}
.form > div {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form > div > div {
  width: 46%;
}
.progress {
  top: 0.025em;
  width: 100%;
  left: 0;
  position: absolute;
  z-index: 2;
  padding-inline: 1em;
}
.progress > span {
  width: 100%;
}
