:root {
  --bg: #100e0e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: nunito;
  counter-reset: Serial;
}
.toast-success-container {
  background-color: #4d6dac40;
}

.rs-calendar-table-cell,
.rs-btn-close {
  color: rgb(255, 255, 255);
}
.rs-picker {
  width: 100%;
}

.rs-input-group.rs-input-group-inside {
  border: none;
}
.rs-picker-input-group {
  height: 100%;
  width: 100%;
}
.rs-picker-toggle-wrapper {
  display: flex;
  flex-grow: 1;
}
