.body {
 
  padding-inline: 3.3em 1.25em;
  overflow-y: scroll;
  padding-top: 1em;
}
.body:last-child::-webkit-scrollbar {
  width: 0px;
}

.body::-webkit-scrollbar-thumb {
  /* background: rgb(41, 174, 209); */
}
